html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.navbar{
    background-color : orangered;
}

.nav-link {
    border-radius: 15px;
}
.nav-link:hover {
    transition: 0.4s ease;
    color: orangered !important;
    background-color: saddlebrown;
    
}
.card-img{
    align-content:center;
    min-width:200px;
    min-height:200px;
    max-height:200px;
    max-width:200px;
}
img.img-cart{
    max-width:150px;
    max-height: 150px;
    border : 1px dashed gray;
    border-radius : 15px;
    padding : 4px;
}
div.total{
    max-height:300px;
}
input.jumlah{
    border-radius:15px;
    text-align:center;
    max-width:75px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}