@model List<TestInterviewApp.Models.Products>
@{
    ViewData["Title"] = "Produk";
}
@*BreadCrumb*@
<nav class ="px-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Products</li>
    </ol>
</nav>
@*End of BreadCrumb*@
@if (TempData["Message"] != null)
{
    <div class="alert alert-info">
        @TempData["Message"]
    </div>
}
@*Title Halaman*@
<h2 class="p-3">Daftar Produk</h2>
@*End of Title Halaman*@

<div class="container text-center align-content-center">
    <div class="row row-cols-4">
        
        @*Start Content*@

        @*Start of Item*@
        @foreach(var items in Model)
        {
        <div class="p-3 col ">
            <div class="card" style="width: 18rem;">
                <img src="./Pictures/@items.gambar" class="card-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@items.nama</h5>
                    <p class="card-text">Price : Rp. @items.harga.ToString("N0")</p>
                    <a asp-controller="Cart" asp-action="Add" asp-route-id="@items.Id" class="btn btn-primary">Tambah ke Keranjang</a>
                </div>
            </div>
        </div>    
        }
        @*End of Item*@

        @*End Content*@
   
    </div>
</div>