@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Keranjang</h2>
@*Layout Tampilan Kerangka Halaman Keranjang*@
<div class="container justify-content-center"> 
        
        <div class="p-3 col bg-white">
        @*Layout untuk Tiap Produk*@

                <div class="p-4  row">

                <img class="img-cart" src="~/Pictures/Product-1.png" />

                @*Layout untuk Detail Produk, Harga, Nama, Jumlah*@
                <div class="col">

                    <div class="row justify-content-center">

                        <div class="col-10">
                        <p>Nama Produk</p>
                        </div>

                    <div class="col">
                        <p>Harga Produk disini</p>
                    </div>
                    
                    
                    </div>
                
                    <div class="row">
                    <div class="col-2  align-items-center">
                        Jumlah Barang :
                    </div>
                    <input class="jumlah" type="number" name="jumlah" id="jumlah" value="1" />
                    </div>
                    <p class="py-2 px-1 text-danger fw-semibold">Delete</p>
                
                @*Pembatas Layout untuk Detail Produk, Harga, Nama, Jumlah*@

                </div>
                </div>
        @*End of Template Layout untuk Tiap Produk*@
        <div class="p-4  row">

            <img class="img-cart" src="~/Pictures/Product-1.png" />

            @*Layout untuk Detail Produk, Harga, Nama, Jumlah*@
            <div class="col">

                <div class="row justify-content-center">

                    <div class="col-10">
                        <p>Nama Produk</p>
                    </div>

                    <div class="col">
                        <p>Harga Produk disini</p>
                    </div>


                </div>

                <div class="row">
                    <div class="col-2  align-items-center">
                        Jumlah Barang :
                    </div>
                    <input class="jumlah" type="number" name="jumlah" id="jumlah" value="1" />
                </div>
                <p class="py-2 px-1 text-danger fw-semibold">Delete</p>

                @*Pembatas Layout untuk Detail Produk, Harga, Nama, Jumlah*@

            </div>
        </div>
        <div class="p-4  row">

            <img class="img-cart" src="~/Pictures/Product-1.png" />

            @*Layout untuk Detail Produk, Harga, Nama, Jumlah*@
            <div class="col">

                <div class="row justify-content-center">

                    <div class="col-10">
                        <p>Nama Produk</p>
                    </div>

                    <div class="col">
                        <p>Harga Produk disini</p>
                    </div>


                </div>

                <div class="row">
                    <div class="col-2  align-items-center">
                        Jumlah Barang :
                    </div>
                    <input class="jumlah" type="number" name="jumlah" id="jumlah" value="1" />
                </div>
                <p class="py-2 px-1 text-danger fw-semibold">Delete</p>

                @*Pembatas Layout untuk Detail Produk, Harga, Nama, Jumlah*@

            </div>
        </div>

            

        
       
        @*Pembatas untuk Layout Produk*@
        <div class="row">
            <button type="submit" class="btn btn-primary mb-3">Checkout</button>
        </div>
        </div>
  
        

</div>
@*End of Layout Tampilan Kerangka Halaman Keranjang*@